<template>
    <div>
        <b-container class="d-flex justify-content-center">
            <b-row>
                <b-col cols="12">
                    <h1 class="text-center">Admin</h1>
                    <b-card class="my-4">
                        <b-alert variant="danger" show v-if="error">{{error}}</b-alert>

                        <b-card-text class="text-center">
                            <img :src="tasks[0].picture" alt="Imagen de perfil">
                        </b-card-text>
                        <b-card-text class="text-center">
                            {{user.email}}
                        </b-card-text>
                        <b-card-text class="text-center">
                            <input type="file" ref="uploadFile" class="d-none" @change="searchImage($event)">
                            <b-button variant="success" @click="uploadImage(tasks[0])" class="mr-2" :disabled="file === null">
                                Subir Imagen
                            </b-button>
                            <b-button variant="warning" @click="$refs.uploadFile.click()">
                                Cargar Imagen
                            </b-button>
                        </b-card-text>
                        <b-card-text class="text-center">
                            <img :src="tempUrl" alt="">
                        </b-card-text>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        name: "Admin",

        computed: {
            ...mapState(['tasks', 'user', "file", 'tempUrl', "error"])
        },

        methods:{
            ...mapActions(['searchImage', 'uploadImage'])
        }
    }
</script>