<template>
    <div>
        <h1>Chat</h1>

        <b-card class="my-4">
            <b-alert variant="danger" show v-if="error">{{error}}</b-alert>

            <b-card-text class="text-center">
                <form @submit.prevent="sendChatMessage(message)" v-model="valid">
                    <b-form-input v-model="message" required></b-form-input>
                </form>
            </b-card-text>
        </b-card>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: "Chat",

        data() {
            return {
                message: '',
                valid: false
            }
        },
        methods: {
            ...mapActions(['sendChatMessage'])
        }
    }
</script>

<style scoped>

</style>