<template>
    <div>
        <h1>Nueva tarea</h1>

        <form class="form-inline" @submit.prevent="createTask(name)">
            <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Email</label>
                <input type="text" v-model="name" class="form-control" id="staticEmail2" value="">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Crear</button>
        </form>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: "Create",
        data() {
            return {
                name: '',
                email: ''
            }
        },

        methods: {
            ...mapActions(['createTask'])
        }
    }
</script>

<style scoped>

</style>