<template>
    <div>
        <h1>Editar</h1>
        <form class="form-inline" @submit.prevent="updateTask(taskToEdit)">
            <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Tarea</label>
                <input type="text" v-model="taskToEdit.name" class="form-control" id="staticEmail2" value="">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Editar</button>
        </form>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        name: "Edit",
        data() {
            return {
                id: this.$route.params.id
            }
        },
        methods: {
            ...mapActions(['getTask', 'updateTask'])
        },

        created() {
            this.getTask(this.id)
        },

        computed: {
            ...mapState(['taskToEdit'])
        }
    }
</script>

<style scoped>

</style>