<template>
    <div>
        <div v-if="error" class="alert alert-danger mt-4">
            {{error}}
        </div>

        <b-container>
            <b-row>
                <b-col cols="12">
                    <div>
                        <b-card class="my-4">
                            <b-card-text class="text-center">
                                <b-row>
                                    <b-col cols="6">
                                        <b-button @click="loginGoogle" variant="danger"
                                                  class="fab fa-google mb-2 btn-block">
                                            Google
                                        </b-button>
                                    </b-col>
                                    <b-col cols="6">
                                        <b-button @click="loginFacebook" variant="primary"
                                                  class="fab fa-facebook-square btn-block">
                                            Facebook
                                        </b-button>
                                    </b-col>
                                </b-row>
                            </b-card-text>
                        </b-card>
                    </div>
                </b-col>
                <b-col cols="12">
                    <div>
                        <b-card class="my-4">
                            <b-card-text class="text-center">
                                <h6>Ingresa con tu usuario y contraseña</h6>
                                <form @submit.prevent="loginUser({email, password})">
                                    <div class="form-group">
                                        <b-form-input type="email" class="form-control" id="exampleInputEmail1"
                                                      placeholder="Ingresa tu correo" v-model="$v.email.$model"
                                                      :class="{'is-invalid': $v.email.$error}"></b-form-input>
                                    </div>
                                    <div class="form-group">
                                        <b-form-input type="password" class="form-control" id="exampleInputPassword1"
                                                      placeholder="Contraseña"
                                                      v-model="password"></b-form-input>
                                    </div>
                                    <b-button type="submit" variant="primary">Ingresar</b-button>
                                </form>
                            </b-card-text>
                        </b-card>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import {required, email} from 'vuelidate/lib/validators'
    import {mapActions, mapState} from 'vuex'

    export default {
        name: "Login",
        data() {
            return {
                email: '',
                password: '',
            }
        },

        methods: {
            ...mapActions(["loginUser", "loginGoogle", "loginFacebook"]),
        },

        computed: {
            //computed properties always returns a value
            ...mapState(['error']),
        },

        validations: {
            email: {
                required,
                email
            },
            password: {
                required
            }
        }
    }
</script>

<style scoped>

</style>