<template>
    <div>
        <div v-if="error" class="alert alert-danger">
            {{error}}
        </div>

        <b-container>
            <b-row>
                <b-col cols="12">
                    <div>
                        <b-card class="my-4">
                            <b-card-text class="text-center">
                                <h6>Ingresa tus datos</h6>
                                <form @submit.prevent="createUser({email: email, password: password1})">
                                    <div class="form-group">
                                        <b-form-input name="email" type="email" class="form-control"
                                                      v-model.lazy="$v.email.$model"
                                                      placeholder="Ingresa tu correo"
                                                      :class="{'is-invalid': $v.email.$error}"></b-form-input>
                                    </div>
                                    <div class="form-group">
                                        <b-form-input name="password" type="password" class="form-control"
                                                      v-model.lazy="$v.password1.$model"
                                        placeholder="Ingresa una contraseña">
                                        </b-form-input>
                                        <p class="text-danger" v-if="!$v.password1.minLength">Mínimo 6 caracteres</p>
                                    </div>
                                    <div class="form-group">
                                        <b-form-input name="verify" type="password" class="form-control"
                                                      v-model.lazy="$v.password2.$model"
                                        placeholder="Repite tu contraseña"></b-form-input>
                                        <p class="text-danger" v-if="!$v.password2.sameAsPassword">La contraseña no
                                            coincide</p>
                                    </div>

                                    <b-button type="submit" variant="success" :disabled="!disable">Ingresar</b-button>
                                </form>
                            </b-card-text>
                        </b-card>
                    </div>
                </b-col>

                <b-col cols="12">
                    <div>
                        <b-card class="my-4">
                            <b-card-text class="text-center">
                                <h6>Regístrate con tu red social favorita</h6>
                                <b-row>
                                    <b-col cols="12">
                                        <b-button @click="loginGoogle" variant="danger"
                                                  class="fab fa-google mb-2 btn-block">Google
                                        </b-button>
                                    </b-col>
                                    <b-col cols="12">
                                        <b-button @click="loginFacebook" variant="primary"
                                                  class="fab fa-facebook-square btn-block">Facebook
                                        </b-button>
                                    </b-col>
                                </b-row>
                            </b-card-text>
                        </b-card>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex';
    import {email, required, sameAs, minLength} from "vuelidate/lib/validators";

    export default {
        name: "Register",
        data() {
            return {
                email: '',
                password1: '',
                password2: ''
            }
        },

        methods: {
            ...mapActions(['createUser', 'loginGoogle', 'loginFacebook'])
        },

        computed: {
            //computed properties always returns a value
            ...mapState(['error']),

            disable() {
                return this.password1 === this.password2 && this.password1 != ''
            }
        },
        //Import validate library
        validations: {
            email: {
                required,
                email
            },
            password1: {
                required,
                minLength: minLength(6)
            },
            password2: {
                sameAsPassword: sameAs('password1')
            }
        }
    }
</script>

<style scoped>

</style>