<template>
    <div>
        <div v-if="getInfo">
            <div class="text-center mt-5">
                <h4>Cargando contenido.....</h4>
                <b-spinner variant="success" label="Spinning"></b-spinner>
                <b-spinner variant="success" type="grow" label="Spinning"></b-spinner>
            </div>
        </div>
        <div v-else>
            <form @submit.prevent="searchTasks(text)">
                <input type="text" placeholder="Buscar" class="form-control mt-5" v-model="text"
                       v-on:keyup="searchTasks(text)">
            </form>

            <ul class="list-group mt-5">
                <li class="list-group-item" v-for="item of filterArray" :key="item.id">{{item.name}}
                    <div class="float-right">
                        <router-link :to="{name: 'edit', params:{id: item.id}}">
                            <b-button variant="warning" class="mr-2">Editar</b-button>
                        </router-link>
                        <b-button variant="danger" @click="deleteTask(item.id)">Eliminar</b-button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

    import {mapActions, mapState, mapGetters} from 'vuex'
    import Navbar from "../components/Navbar";

    export default {
        name: "Start",
        data() {
            return {
                text: ''
            }
        },

        methods: {
            ...mapActions(['getTasks', 'deleteTask', 'logoutUser', 'searchTasks'])
        },

        created() {
            this.getTasks();
        },

        computed: {
            ...mapState(['tasks', 'getInfo']),
            ...mapGetters(['filterArray'])
        }
    }
</script>

<style scoped>

</style>