<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div v-for="item of items">
                <div v-if="item.to.name === currentRoute">
                    <b-navbar-brand href="#" :to="{name: 'start'}">{{item.title}}</b-navbar-brand>
                </div>
            </div>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#" :to="{name: 'start'}">Inicio</b-nav-item>
                    <b-nav-item href="#" :to="{name: 'create'}">Nueva Tarea</b-nav-item>
                    <b-nav-item href="#" :to="{name: 'register'}">Registro</b-nav-item>
                    <b-nav-item href="#" :to="{name: 'chat'}">Contacto</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <!-- Using 'button-content' slot -->
                        <template v-slot:button-content>
                            <em>{{user.email}}</em>
                        </template>
                        <b-dropdown-item href="#" :to="{name: 'admin'}">Perfil</b-dropdown-item>
                        <b-dropdown-item href="#" @click="logoutUser">Cerrar Sesion</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";
    import Navbar from "../components/Navbar";

    export default {
        name: "Navbar",

        data() {
            return {
                currentRoute : this.$route.name,
                items: [
                    {title: "Login", to: {name: "login"}},
                    {title: "Registro de usuarios", to: {name: "register"}},
                    {title: "Lista de tareas", to: {name: "start"}}
                ]
            }
        },
        components: {
            Navbar
        },
        methods: {
            ...mapActions(['logoutUser'])
        },

        computed: {
            ...mapState(['user']),
        }
    }
</script>

<style scoped>

</style>