<template>
    <div id="app" class="container">
        <div class="text-center mb-5">
            <Navbar></Navbar>
        </div>
        <router-view/>
    </div>
</template>

<script>
    import Navbar from "./components/Navbar";
    import {mapActions} from "vuex";

    export default {
        name: "Start",

        components: {
            Navbar
        },
        methods: {
            ...mapActions(['logoutUser'])
        },
    }
</script>